<h1>ค้นหารายวิชาในหลักสูตร</h1>
<h4>ค้นหาจากรหัสวิชา</h4>
<form action="/search_id/" method="GET">
    <label for="course_id">รหัสวิชา:</label>
    <input type="text" id="course_id" name="course_id">
    <button type="submit">ค้นหา</button>
</form>
<div>
    {% if search_id %}
        <h2>รายวิชาที่พบ</h2>
        <ul>
            {% for course in search_id %}
                <li>{{ course }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>ไม่พบรายวิชา</p>
    {% endif %}
</div>